body{
    background-color: rgb(2, 45, 11);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
button{
    background-color: chocolate;
    margin: 3px;
    border-radius: 20%;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}
p{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}
h1{
    font-size: 50px;
    font-weight: bold;
    color: orange;
    border: 5px solid orange;
}
input{
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    padding: 5px;
}